:ruby
  current_page = local_assigns.fetch :current, ""
  
  portfolio =   { name: "Projects", 
                  icon: "code", 
                  link: "projects" }
  experiences = { name: "Experience",
                  icon: "laptop",
                  link: "experiences" }
  brice =       { name: "badjivon",
                  icon: "circle-user",
                  link: "/" }
  links =       { name: "Links",
                  icon: "link",
                  link: "links" }
  updates =    {  name: "Updates",
                  icon: "compact-disc",
                  link: "updates" }

  sections = [brice, portfolio, experiences, links]
   
.border-2.menubar.p-2.flex.flex-wrap.justify-around{class: "md:w-9/12"}
  - sections.each do |section|
    .px-6.text-s.shrink.flex.flex-wrap
      = link_to section[:link] do
        %i.fa.mr-2{class: "fa-#{section[:icon]}"}
        %span{ class: [("underline underline-offset-4" if current_page == section[:link])] }
          = section[:name]
    
