:ruby
  current_page = local_assigns.fetch :current, ""
  
  portfolio =   { name: "Projets", 
                  icon: "paint-roller", 
                  link: "Portfolio" }
  experiences = { name: "Experience",
                  icon: "briefcase",
                  link: "experiences" }
  brice =       { name: "Me",
                  icon: "user",
                  link: "/" }
  articles =    { name: "Articles",
                  icon: "newspaper",
                  link: "Experiences" }

  sections = [brice, portfolio, experiences, articles]
   
.w-full.flex.content-center
  .border-2.sidebar.p-2
    .flex
      - sections.each do |section|
        = link_to section[:link] do
          .px-6.text-s
            %i.fa.mr-2{class: "fa-#{section[:icon]}"}
            %span{ class: [("underline underline-offset-4" if current_page == section[:link])] }
              = section[:name]
      = "-"
      %i.text-s.fa-solid.fa-circle-half-stroke.mt-1.px-6{"x-on:click" => "light = !light"}
        
