:ruby
  portfolio =   { name: "Projets", 
                  icon: "paint-roller", 
                  link: "Portfolio" }
  experiences = { name: "Experiences",
                  icon: "briefcase",
                  link: "Experiences" }
  brice =       { name: "Me",
                  icon: "user",
                  link: "Experiences" }
  articles =    { name: "Articles",
                  icon: "newspaper",
                  link: "Experiences" }

  sections = [brice, portfolio, experiences, articles]
   
.w-full.flex.content-center
  .border-2.sidebar.p-2
    .flex
      - sections.each do |section|
        .px-6.text-s
          %i.fa.mr-2{class: "fa-#{section[:icon]}"}
          = section[:name]
      = "-"
      %i.text-s.fa-solid.fa-circle-half-stroke.mt-1.px-6{"x-on:click" => "light = !light"}
        
