.flex.flex-col.w-full.place-items-center
  = render partial: '/shared/menubar', locals: {current: "projects"} 
  %div{class: "md:px-12"}
    .mt-24.ml-3.text-xl
      = "- simple-game-collection"
    .mt-4.ml-3.text-base
      A video game backlog manager.
      It is my first React + Rails project.
      It is a minimum viable product but it works!
    .mt-4.ml-3.text-base 
      = "->"
      = link_to "GitHub", "https://t.co/XWvx2g6Hbl", target: "_blank"


