.flex-col
  = render partial: '/shared/menubar', locals: {current: "links"} 
  %div{class: "w-[42rem]"}
    .mt-24.ml-3.text-xl
      %i.fa-brands.fa-linkedin.mr-2
      = link_to "LinkedIn", "https://www.linkedin.com/in/badjivon/?locale=en_US"  
      %br
      %i.fa-brands.fa-github.mr-2
      = link_to "Github", "https://github.com/badjivon"
      %br
      %i.fa-brands.fa-twitch.mr-2
      = link_to "Livestream of my reconversion experience (French)", "https://www.twitch.tv/videos/1603535873"